.post {
    background-color: rgb(56, 165, 52);
    padding: 15px;
    border-radius: 10px;
    margin: 10px;
    color: rgb(243, 231, 231);
    font-size: 1.5em;
}

a {
    color: rgb(138, 138, 253);
    background-color: rgb(175, 28, 23);
    padding: 5px;
    border-radius: 10px;
}

a:hover {
    text-decoration: none;
    color: rgb(138, 138, 253);
    background-color: rgb(199, 60, 55);
}

.comment {
    background-color: aquamarine;
    padding: 5px;
    border-radius: 10px;
    color: rgb(56, 165, 52)
}

.user-name {
    font-size: 20px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    border: none;
    color: black;
}

.comment-toggle {
    margin: 0px 3px 3px 3px;
}

.hide {
    display: none;
}